/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: #614400;
}

/* hero background image */

#abkahanjyegabachky {
    background-color: #002a38;
}

.bgimage {
    /* margin-top: 60px; */
    height: 100vh;
    width: 100%;
    background-image: url(https://wallpapercave.com/wp/wp5515699.jpg);
    /* background-image: url(https://i.pinimg.com/originals/8d/4a/5d/8d4a5d317164659df945278a6a8ed9be.gif); */
    background-size: 100%;
    position: relative;
    background-repeat: no-repeat;
    display:ruby;
    background-position: top;
}
/* text css above hero image*/
.hero_title {
    font-family: fantasy;
    font-size: 4.5rem;
    font-weight: 200;
}

.hero_desc {
    font-size: 1.5rem;
    font-family: ui-rounded;
}
.hero-text {
    text-align: center;
    margin-top: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(205, 228, 235);
}
.col-lg-8{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
#about, #services, #portfolio, #contact {
    background-color: #002a38;
    color: #e6a205;
}

/* spacing on all sections */
#services, #portfolio, #contact {
    margin-top: 1rem;
    padding-top: 1rem;
}
#contact {
    padding-bottom: 4rem;
}
/* about section image css */
.imageAboutPage {
    width: 100%;
    border: 2px solid #e6a205;
    margin-bottom: 25px;
    align-items: center;
}

/* services section css */
.servicesText.card {
    height: 280px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #008000;
}
.servicesText:hover {
    border: 1px solid #e6a205;
}

.google-maps-html {
    border: 3px solid whitesmoke;
}

/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor:pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-github:hover {
    color: #e6a205;
    border: 3px solid;
    border-radius: 1rem;
    padding: 5px;
}
.hero_title:hover, .hero_desc:hover {
    color: #e6a205;
}
.fab {
    color: rgb(108, 119, 122);
}
/* footer styling */
#footer {
    background-color: #614400;
    text-align: center;
}

.bouncy {
    text-align: center;
  }
  .bouncing {
    animation : rubberband 800ms alternate ease-out;
  }
  @keyframes rubberband {
      0%{
          transform: scaleX(1);
      }
      40%{
          transform: scaleX(1.12) scaleY(0.75);
      }
      55%{
          transform: scaleX(0.85) scaleY(1);
      }
      65%{
          transform: scaleX(1.09) scaleY(0.85);
      }
      75%{
          transform: scaleX(0.9)  scaleY(1);
      }
      90%{
          transform: scaleX(1.05) scaleY(0.95);
      }
      100%{
          transform: scaleX(1) scaleY(1);
      }
  }

  .form {
    padding-top: 45px;
    text-align: center;
    font-size: larger;
    color: #e6a205;
  }
